/* FOR GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
}

 /* HEADER STYLES */
header{
    height: 110vh;
    width: 100%;
}

#navbar{
    height: 85px;
    width: 100%;
    background-color: black;
    padding-top: 3px;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li{
    display: inline;
    padding: 20px;
}

#navbar ul li a img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}

#navbar ul li:first-child{
  padding: 0;
  margin-right: 15%;
}

#navbar ul li a{
  text-decoration: none;
  color: #fff;
}

#navbar ul li:nth-child(2) a:hover, #navbar ul li:nth-child(3) a:hover, #navbar ul li:nth-child(4) a:hover, #navbar ul li:nth-child(5) a:hover, #navbar ul li:nth-child(6) a:hover {
  border: 1px solid #ff8a00;
  background-color: #ff8a00;
  padding: 10px;
  color: black;
  border-radius: 15%;
}

/* DROPDOWN CSS */
/* Dropdown Button */
.dropbtn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropbtn a{
  text-decoration: none;
  color: #fff;
}

.dropbtn a:hover{
  color: #ff8a00;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ff8a00;
  color: #000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #ff8a00; */
  color: #ff8a00;
  border: 1px solid #ff8a00;
  border-radius: 15%;
}

/* Hamburger menu */
.topnav {
  height: 80px;
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
}

#nav_img, #nav_img img{
  width: 90px;
  height: 70px;
  object-fit: cover;
  padding: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  /* background: pink; */
  display: block;
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  /* background-color: #ff8a00; */
  color: #ff8a00;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

/* RESPONSIVE NAVBAR */
@media only screen and (min-width: 701px) {
  /* hide the hamburger */
  .topnav{
    display: none;
  }
  /* show all the nav-buttons */
  #navbar ul{
    display: block;
  }
  .artist_h3{
    display: none;
  }
  
}
/* if browser window is small (max-width) */

@media only screen and (max-width: 700px) {
  /* show everything with the hamburger class */
  .topnav{
    display: block;
  }

  main{
    height: 100vh;
  }
  
  footer{
    height: 150vh;
  }

  /* hide all the nav-buttons */
  #navbar ul, #artists_container h2, #divider, #divider1{
    display: none;
  }

  header{
    height: 110vh;
  }

  main{
    height: 290vh;
  }
  
  #artists_container #bigTitle{
    display: none;
  }

  .artist_h3{
    display: block;
    text-align: center;
  }

  #column_1, #column_2, #column_3{
    display: block;
    margin: 0px 22%;
  }

  footer{
    height: 160vh;
  }

}

.landing_section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#welcome_words{
  text-align: center;
  color: #fff;
  padding: 20px; 
  margin: 15px;
  z-index: 1;
}

#welcome_words h1{
  font-size: 3rem;
}

#welcome_words p{
  font-size: 22px;
  color: #fff;
}

.span_landing_1{
  color: #ff8a00;
}

.span_landing_2{
  color: #ff0000;
}

#welcome_words ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #fff;
}

#welcome_words ul li a{
  color: #ff8a00;
  text-decoration: none;
}

#welcome_words ul li a:hover{
  color: #000;
  border: 1px solid #ff8a00;
  background-color: #ff8a00;
  border-radius: 15%;
  padding: 5px;
  margin: 20px 0 20px 0;
}

/* video */
#video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  background-color: #000;
}

/* MAIN */
main{
  width: 100%;
  background-color: #FFFAF0;
}

/* Artists Container */
.tab{
  display: inline-block;
  margin-left: 20px;
}

.tab2{
  display: inline-block;
  margin-left: 280px;
}

.tab3{
  display: inline-block;
  margin-left: 300px;
}

.artists{
  position: relative;
  width: 100%;
  height: 100vh;
  /* margin: 40px 0px 0px 20px; */
}

#artists_title h2{
  color: #000;
  text-align: center;
  margin-top: 15px;
}

#artists_container h3{
  color: #000;
}

#artists_container img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.musicians{
  float: left;
  margin-left: 30px;
  position: relative;
}

#musicians_details{
  margin: -90px 0px 0px 40px;
  background-color: #ff8a00;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  padding: 5px;
  font-size: 18px;
}

#musicians_details p{
  color: #000;
  padding-left: 110px;
}

.artist_1{
  margin-bottom: 30px;
}

#divider{
  border-left: 2px solid #ff8a00;
  height: 500px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
  top: 80px;
}

.comedians{
  float: left;
  margin-left: 100px;
}

#divider1{
  border-left: 2px solid #ff8a00;
  height: 500px;
  position: absolute;
  left: 63%;
  margin-left: -3px;
  top: 80px;
}

.dramatists{
  float: left;
  margin-left: 100px;
}

.overlay1{
  background-image: url("/images/Kavali.jfif");
}

.seeMore_button{
  float: right;
  border: none;
  background-color: yellow;
}

.seeMore_button a{
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

.seeMore_button a:hover{
  color: #ff8a00;
}

/* FOOTER SECTION */
footer{
    width: 100%;
    background-color: #000;
    color: #FFFAF0;
}

footer a{
  color: #ff8a00;
  text-decoration: none;
}

footer a:hover{
  color: #fff;
}

#about_p a{
  color: #fff;
}

#about_p a:hover{
  border-bottom: 1px solid #ff8a00;
}

#artists_div{
  width: 350px;
}

#button_footer{
  background-color: #ff8a00;
  border: none;
}

#button_footer:hover{
  color: #000;
  font-size: 17px;
}