body{
    margin: 0;
    padding: 0;
}
header{
    height: 30vh;
}

#welcomeWords{
    text-align: center;
    padding: 20px;
}

.sliderColumn{
    width: 100%;
    height: 80vh;
}

.title{
    background: none;
    width: 100%;
    height: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title h2{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.solo-musicians{
    background: red;
    width: 50%;
    height: 100vh;
}

.music-bands{
    background-color:yellow;
    width: 50%;
    height: 100vh;
}

main{
    height: 370vh;
    background: none;
}

.seeMore{
    font-size: 20px;
}

.seeMore a{
    text-decoration: none;
    color: #000;
}

.seeMore a:hover{
    color: #ff8a00;
}

/* SLIDES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .slider{
    position: relative;
    background: #000116;
    width: 100%;
    min-height: 500px;
    /* margin: 20px; */
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }

  .slide a{
      text-decoration: none;
      color: white;
      font-size: 30px;
      font-weight: bold;
  }

  .slide a:hover{
    cursor: pointer;
    background: rgba(251, 135, 2, 0.746);
    color: #000;
  }
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #4285F4;
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }

  /* MUSICIANS SLIDE */
  .musician_image{
      width: 300px;
      height: 300px;
      border-radius: 15px;
  }

  .Musician-container { 
      margin-top: 140px;   
      display: flex;    
    }

/* FLIP CARDS */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-right: 30px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transform: rotateY(180deg);
    text-align: center;
  }

  .flip-card-back h1, p{
      margin-left: 10px;
  }

  /* COMEDIAN IMAGE */
  .comedian_container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 60px;
  }

  .comedian_container{
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
  }

  /* DRAMATISTS & DOCUMETARY CREATORS */
  .dramatists{
      float: left;
      width: 50%;
      height: 28vh;
  }

  .dramatists ol li{
      margin: 8px;
  }

  .lastOne{
      margin-top: 40px;
  }

  .lastOne ol li{
      margin-top: 8px;
  }

  .dramatists ol li a, .doc_creators ol li a{
      text-decoration: none;
      color: #000;
  }

  .dramatists ol li a:hover, .doc_creators ol li a:hover{
    color: #ff8a00;
}