*{
    font-size: 18px;
}

main{
    padding: 40px;
    height: 170vh;
}

.sponsorContainer{
    width: 100%;
    height: 150vh;
    background-color: red;
    border-radius: 15px;
}

.prevSponsor{
    position: absolute;
    margin-top: 30%;
    margin-left: 10px;

}

.prevSponsor:hover, .nextSponsor:hover{
    color: #ff8a00;
    cursor: pointer;
}

.nextSponsor{
    position: absolute;
    margin-top: 30%;
    margin-left: 91%;

}

.sponsorDetails{
    position: absolute;
    height: 130vh;
    width: 40%;
    background-color: yellow;
    margin: 60px;
    float: left;
    border-radius: 15px;
}

.sponsorArtists{
    position: absolute;
    height: 130vh;
    width: 40%;
    background-color: yellow;
    margin-left: 50%;
    margin-top: 60px;
    float: right;
    border-radius: 15px;
    padding-top: 40px;
}

.sponsorImage{
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 160px;
    margin-top: 60px;
    margin-bottom: 0px;
    background-color: blue;
    border-radius: 15px;
}

.sponsorImage img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.sponsorAllAbout{
    width: 420px;
    height: 580px;
    margin-left: 60px;
    margin-top: 180px;
    border: 2px solid darkblue;
    padding: 40px;
    padding-top: 100px;
    border-radius: 15px;
}

.ArtistsBox{
    width: 425px;
    height: 660px;
    border: 2px solid #ff8a00;
    margin: 60px;
    border-radius: 15px;
    margin-top: 20px;
    padding: 40px;
    overflow-y: scroll;
}

@media only screen and (max-width: 700px){
    main{
        padding: 20px;
        height: 150vh;
    }

    .sponsorContainer{
        height: 137vh;
    }
    .sponsorDetails{
        margin: 20px;
        margin-left: 40px;
    }

    .sponsorArtists{
        margin-left: 48%;
        margin-top: 20px;
    }

    .sponsorImage{
        width: 100px;
        height: 100px;
        margin: 80px;
    }

    .sponsorImage img{
        width: 100%;
        height: 100%;
    }

    .sponsorAllAbout{
        width: 200px;
        height: 600px;
        margin-left: 30px;
        margin-top: 130px;
        padding: 10px;
        padding-top: 60px;
    }

    .ArtistsBox{
        width: 200px;
        height: 590px;
        margin-top: 40px;
        margin-left: 30px;
        padding: 10px;
    }

    .prevSponsor{
        margin-left: 5px;
        margin-top: 50%;
    }

    .nextSponsor{
        margin-top: 50%;
        margin-left: 89%;
    }
}
